@model IEnumerable<PMApp.ViewModels.TenantViewModel>


@{
    ViewData["Title"] = "EmailBlast";
}

<div class="reportHeader">
    <img src="~/img/report1.png" alt="Report Icon" width="55" height="60" />
    <h1>Email Blast</h1>
</div>

<p></p>
<p></p>

<p>
    <input type="button" class="button" value="BACK TO REPORTS"
           onclick="location.href='@Url.Action("Index", "Checklists")'" />
</p>

<p>
    <input type="image" class="Print" value="Print" src="~/img/print.png"
           onclick="location.href='@Url.Action("PrintEmails", "TenantsReport")'" />
</p>

<form asp-controller="TenantsReport" asp-action="EmailBlast" method="get">
    <p>
        SEARCH: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>

</form>

<p></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(item => item.Property).OrderBy(item => item.Unit))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Property)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }
    </tbody>
</table>


