@model PMApp.Models.Move_in

@{
    ViewData["Title"] = "Details";
}

    <div class="reportHeader">
        <h1>
            <img src="~/img/movein.jpg" alt="Repair Icon" width="55" height="60" />
            Move In Details
        </h1>
    </div>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carpet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carpet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appliances)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appliances)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Walls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Walls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refundable_deposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refundable_deposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nonrefundable_deposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nonrefundable_deposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pet_deposit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pet_deposit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant.First_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit.UID)
        </dd>
    </dl>
</div>
<div>
    <a class="Edit" asp-action="Edit" asp-route-id="@Model.MIID">Edit</a>

    <input type="button" class="button" value="TO PROPERTIES"
           onclick="location.href='@Url.Action("Index", "Buildings")'" />
</div>
