@model IEnumerable<PMApp.ViewModels.RepairsViewModel>

@{
    ViewData["Title"] = "Index";
}

    <div class="reportHeader">
        <h1>
            <img src="~/img/repair.png" alt="Repair Icon" width="55" height="60" />
            Repair History
        </h1>
    </div>

    <form asp-controller="Repair_History" asp-action="Index" method="get">
        <p>
            SEARCH: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>

    <p>
        <a class="Create" asp-action="selectBuilding">New Repair</a>
    </p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket_opened)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket_closed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_due)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Work_started)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Work_ended)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(item => item.Property)) {

    if(item.Ticket_closed == null && item.Date_due < DateTime.Today) { 
        <tr style="background-color:#ffc863">
            <th>
                @Html.DisplayFor(model => item.Property)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket_opened)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket_closed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_due)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Work_started)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Work_ended)
            </td>

            <td>
                <a class="Edit" asp-action="Edit" asp-route-id="@item.RHID">Edit</a>
                <a class="Details" asp-action="Details" asp-route-id="@item.RHID">Details</a>
                <a class="Delete" asp-action="Delete" asp-route-id="@item.RHID">Delete</a>
            </td>
        </tr>
    }
    else
    {
    <tr>
        <th>
            @Html.DisplayFor(model => item.Property)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket_opened)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket_closed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_due)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Work_started)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Work_ended)
        </td>

        <td>
            <a class="Edit" asp-action="Edit" asp-route-id="@item.RHID">Edit</a>
            <a class="Details" asp-action="Details" asp-route-id="@item.RHID">Details</a>
            <a class="Delete" asp-action="Delete" asp-route-id="@item.RHID">Delete</a>
        </td>
    </tr>
    }
}
    </tbody>
</table>
