@model IEnumerable<PMApp.ViewModels.MoveInViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="reportHeader">
    <img src="~/img/report1.png" alt="Report Icon" width="55" height="60" />
    <h1>Move Ins Report</h1>
</div>

<p></p>
<p></p>

<p>
    <input type="button" class="button" value="BACK TO REPORTS"
           onclick="location.href='@Url.Action("Index", "Checklists")'" />
</p>

<p></p>
<input type="image" class="Print" value="Print" src="~/img/print.png"
       onclick="location.href='@Url.Action("Print", "BuildingsReport")'" />
<p></p>

<form asp-controller="MoveInReport" asp-action="Index" method="get">
    <p>
        SEARCH: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carpet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appliances)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Walls)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Refundable_deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nonrefundable_deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet_deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(item => item.Date))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carpet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appliances)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Walls)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Refundable_deposit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nonrefundable_deposit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pet_deposit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
            </tr>
        }
    </tbody>
</table>
