@model IEnumerable<PMApp.Models.Building>

@{
    ViewData["Title"] = "selectBuilding";
}

<div class="reportHeader">
    <h3>
        <img src="~/img/building.jpg" alt="Repair Icon" width="55" height="60" />
        Select Building
    </h3>
</div>

<div>
    <input type="button" class="button" value="TO TENANTS"
           onclick="location.href='@Url.Action("Index", "Tenants")'" />
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Org_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(item => item.Org_name))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Org_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    <input type="button" class="Select" value="Select"
                           onclick="location.href='@Url.Action("selectUnit", "Tenants", new { BuildingId = item.BuildingId, TID = ViewBag.Tenant })'" />
                </td>

            </tr>
        }
    </tbody>
</table>
