@model IEnumerable<PMApp.Models.Checklist>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <main>
        
        <div class="reportHeader">
            <h1>
             <img src="~/img/Report.jpg" alt="Report Icon" width="55" height="60" />
             Reports
            </h1>
        </div>


            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for reports..">

            <div class="mainHorizontal">
                <ul class="reportList" id="reportList">
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "BuildingsReport")">Managed Properties </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "GeneralTaxReport")">Yearly Tax Report</a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "TaxReport")">Detailed Tax Summary </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "VehiclesReport")">Vehicles Currently Allowed to Park </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "TenantsReport")">Tenants Summary</a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("EmailBlast", "TenantsReport")">Email Blast</a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "CurrentTenantsReport")">Current Tenants ordered by lease end date</a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "DelinquentRentReport")">Delinquent Rent Payments </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "MonthlyRentReport")">Monthly Rent Income </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "LateRentPaymentReport")">Late Rent Payments </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "ContractorsReport")">Contractors List </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "OpenInfractionsReport")">Not Resolved Infractions </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "InfractionsReport")">Resolved Infractions </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "UnitsReport")">Units Summary </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "ReadyToRentUnits")">Available for Rent Units </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "OOOUnitsReport")">Out of Order Units with due dates </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "RepairsOpenTickets")">Repairs: Open Tickets </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "MoveInReport")">Move-ins </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Index", "MoveOutReport")">Move-outs </a>
                    </li>
                    <li class="reportIcon">
                        <img src="~/img/report1.png" class="reportImg" alt="Report Icon" width="55" height="46" />
                        <a href="@Url.Action("Pets", "TenantsReport")">Authorized Pets </a>
                    </li>

                </ul>

                <div id="section">
                    <div id="welcome">
                        <h4>Welcome Back</h4>
                        <h4>Notes</h4>
                    </div>
                    <div id="today">
                        <h4> Today is @DateTime.Today.DayOfWeek</h4>
                        <h4>@DateTime.Today.ToString("dd, MMMM yyyy")</h4>
                        <input type="button" class="chCreate" value="+"
                               onclick="location.href='@Url.Action("Create", "Checklists")'" />
                    </div>

                    
                    <table>
                        <tbody id="chBody">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Reminder)
                                    </td>
                                    <td>
                                        <a class="Delete" asp-action="Delete" asp-route-id="@item.checklistId">x</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </main>

        <script src="~/js/reports.js"></script>


    </div>


