@model IEnumerable<PMApp.ViewModels.RepairsViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="reportHeader">
    <img src="~/img/report1.png" alt="Report Icon" width="55" height="60" />
    <h1>Repairs: Open Tickets Report</h1>
</div>

<p></p>
<p></p>

<p>
    <input type="button" class="button" value="BACK TO REPORTS"
           onclick="location.href='@Url.Action("Index", "Checklists")'" />
</p>

<p></p>
<input type="image" class="Print" value="Print" src="~/img/print.png"
       onclick="location.href='@Url.Action("Print", "BuildingsReport")'" />
<p></p>

<form asp-controller="RepairsOpenTickets" asp-action="Index" method="get">
    <p>
        SEARCH: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>

</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Work_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket_opened)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Work_started)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Work_ended)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Work_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket_opened)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Work_started)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Work_ended)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contractor)
                </td>

            </tr>
        }
    </tbody>
</table>
