@model IEnumerable<PMApp.ViewModels.VehicleViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="reportHeader">
    <img src="~/img/report1.png" alt="Report Icon" width="55" height="60" />
    <h1>Vehicles currently allowed to park</h1>
</div>

<p></p>
<p></p>

<p>
    <input type="button" class="button" value="BACK TO REPORTS"
           onclick="location.href='@Url.Action("Index", "Checklists")'" />
</p>

<p></p>
<input type="image" class="Print" value="Print" src="~/img/print.png"
       onclick="location.href='@Url.Action("Print", "BuildingsReport")'" />
<p></p>

<form asp-controller="VehiclesReport" asp-action="Index" method="get">
    <p>
        SEARCH: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>

</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.License_plate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stall_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(item => item.Property))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.License_plate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stall_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.First_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    <a class="Details" asp-action="Details" asp-route-id="@item.VID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
