@model IEnumerable<PMApp.Models.Rent>

@{
    ViewData["Title"] = "Index";
}

    <div class="reportHeader">
        <h1>
            <img src="~/img/rent.jpg" alt="Money Icon" width="55" height="60" />
            Rent
        </h1>
    </div>

<p>
    <a class="Create" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date_due)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rent_amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount_paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(item => item.Date_due)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date_due)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rent_amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount_paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant.Last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.Unit_Number)
            </td>
            <td>
                <a class="Edit" asp-action="Edit" asp-route-id="@item.RID">Edit</a>
                <a class="Details" asp-action="Details" asp-route-id="@item.RID">Details</a>
                <a class="Delete" asp-action="Delete" asp-route-id="@item.RID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
