@model PMApp.Models.Move_out

@{
    ViewData["Title"] = "Details";
}

    <div class="reportHeader">
        <h3>
            <img src="~/img/moveout.jpg" alt="Repair Icon" width="55" height="60" />
            Move Out
        </h3>
    </div>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carpet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carpet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appliances)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appliances)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Walls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Walls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cleaning_fee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cleaning_fee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Damage_fee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Damage_fee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fees_paid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fees_paid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Last_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit.Unit_Number)
        </dd>
    </dl>
</div>
<div>
    <a class="Edit" asp-action="Edit" asp-route-id="@Model.MOID">Edit</a> 

    <input type="button" class="button" value="TO PROPERTIES"
           onclick="location.href='@Url.Action("Index", "Buildings")'" />
</div>
